* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(90deg, #ff7a73 0%, rgba(238, 203, 175, 0.600053) 28%);
  background-repeat: no-repeat;
  color: #302e2e; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr .8fr;
  grid-template-rows: .4fr 0.1fr 2fr 1fr .2fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas: "portada portada portada" "menu menu menu" "carrusel carrusel carrusel" "main main aside" "footer footer footer"; }
  .container .portada {
    grid-area: portada;
    background-color: #fc97925f;
    margin: 0 auto;
    width: 100%;
    border-radius: 20px;
    font-family: 'Fjalla One', sans-serif; }
    .container .portada .logonombre {
      display: flex; }
      .container .portada .logonombre .sticker {
        margin: 10px;
        float: left;
        border-radius: 10px;
        width: 120px;
        height: 120px; }
      .container .portada .logonombre h1 {
        margin-left: 50px;
        margin-top: 50px;
        padding-top: 20px;
        text-align: left; }
    .container .portada .subtitulo h4 {
      text-align: right;
      margin: 30px; }
  .container nav {
    grid-area: menu;
    background-color: #fc97925f;
    text-decoration: none;
    width: 100%;
    padding: 0.1rem;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    border-radius: 20px;
    font-weight: 600; }
    .container nav .navbar-nav li .navbar-item a .nav-link {
      color: #302e2e;
      font-weight: bold; }
      .container nav .navbar-nav li .navbar-item a .nav-link:hover {
        background-color: #d0c7c7a5;
        border-radius: 10px; }
      .container nav .navbar-nav li .navbar-item a .nav-link:active {
        background-color: #d110105c; }
    .container nav .navbar-nav li .nav-itemdropdown ul .dropdown-menu {
      background-color: #fc97925f; }
      .container nav .navbar-nav li .nav-itemdropdown ul .dropdown-menu a .dropdown-item {
        color: #302e2e;
        font-weight: bold; }
      .container nav .navbar-nav li .nav-itemdropdown ul .dropdown-menu:hover {
        background-color: #d0c7c7a5; }
      .container nav .navbar-nav li .nav-itemdropdown ul .dropdown-menu:active {
        background-color: #d110105c; }
  .container .carrusel {
    grid-area: carrusel;
    width: 800px;
    margin: auto;
    padding: auto;
    margin-top: 60px;
    justify-content: center; }
    .container .carrusel .carousel-inner {
      border-radius: 20px; }
  .container .main {
    grid-area: main;
    margin: auto;
    padding: auto;
    line-height: 2;
    font-weight: 600; }
  .container .aside {
    grid-area: aside;
    background-color: none;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    font-weight: 600; }
    .container .aside .lista-sitios {
      border-style: inset;
      border-color: #fc97925f;
      border-radius: 20px;
      margin: 0 auto; }
      .container .aside .lista-sitios .lista-titulo {
        font-weight: bold;
        margin: 10px; }
      .container .aside .lista-sitios .enlaces-sitios {
        list-style-type: circle; }
        .container .aside .lista-sitios .enlaces-sitios .sitios-item {
          text-decoration: none;
          color: #302e2e; }
          .container .aside .lista-sitios .enlaces-sitios .sitios-item:hover {
            background-color: #d0c7c7a5;
            border-radius: 5px; }
  .container .footer {
    grid-area: footer;
    margin: 0 auto;
    width: 100%;
    background-color: #fc97925f;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; }
    .container .footer .textofooter {
      color: #0b0a0ad8;
      font-weight: bold;
      justify-items: start;
      margin-top: 20px; }
    .container .footer .redessociales a .icon {
      padding: 10px;
      margin-top: 10px; }

.principal {
  margin-left: 40px;
  margin-top: 60px;
  padding: 2 rem;
  line-height: 2;
  font-weight: 600; }

.contacto {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: .4fr .1fr 2fr .2fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas: "portada portada" "menu menu" "main aside" "footer footer";
  color: black; }
  .contacto .portada {
    grid-area: portada;
    background-color: #fc97925f;
    margin: 0 auto;
    width: 100%;
    border-radius: 20px;
    font-family: 'Fjalla One', sans-serif; }
    .contacto .portada .logonombre {
      display: flex; }
      .contacto .portada .logonombre .sticker {
        margin: 10px;
        float: left;
        border-radius: 10px;
        width: 120px;
        height: 120px; }
      .contacto .portada .logonombre h1 {
        margin-left: 50px;
        margin-top: 50px;
        padding-top: 20px;
        text-align: left; }
    .contacto .portada .subtitulo h4 {
      text-align: right;
      margin: 30px; }
  .contacto nav {
    grid-area: menu;
    background-color: #fc97925f;
    text-decoration: none;
    width: 100%;
    padding: 0.1rem;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    border-radius: 20px;
    font-weight: 600; }
    .contacto nav ul .navbar-nav li .navbar-item .nav-link {
      color: #302e2e;
      font-weight: bold; }
    .contacto nav ul .navbar-nav li .nav-itemdropdown ul .dropdown-menu {
      background-color: #fc97925f; }
      .contacto nav ul .navbar-nav li .nav-itemdropdown ul .dropdown-menu .dropdown-item {
        color: #302e2e;
        font-weight: bold; }
      .contacto nav ul .navbar-nav li .nav-itemdropdown ul .dropdown-menu:active {
        background-color: #d110105c; }
    .contacto nav ul .navbar-nav li .nav-itemdropdown:hover {
      background-color: #d0c7c7a5;
      border-radius: 10px; }
    .contacto nav ul .navbar-nav li .nav-itemdropdown:active {
      background-color: #d110105c; }
  .contacto .main-contacto {
    grid-area: main;
    margin-top: 60px;
    font-weight: 600; }
    .contacto .main-contacto .contacto-title {
      margin-top: 30px;
      margin-bottom: 30px;
      margin-left: 10px; }
    .contacto .main-contacto .formulario {
      line-height: 2; }
      .contacto .main-contacto .formulario .formulario-title {
        margin: 20px; }
      .contacto .main-contacto .formulario .formulario-contenido {
        margin: 20px; }
        .contacto .main-contacto .formulario .formulario-contenido input {
          margin: 5px; }
  .contacto .aside-contacto {
    grid-area: aside;
    background-color: none;
    justify-content: center;
    width: auto;
    font-weight: 600; }
    .contacto .aside-contacto .card-contacto {
      background-color: none;
      border-style: inset;
      border-color: #fc97925f;
      border-radius: 10px;
      margin-top: 7rem;
      justify-content: center; }
      .contacto .aside-contacto .card-contacto .card-title {
        margin: 20px; }
      .contacto .aside-contacto .card-contacto .mapa {
        border-radius: 20px;
        margin: 20px; }
      .contacto .aside-contacto .card-contacto .card-body {
        margin: 20px; }
      .contacto .aside-contacto .card-contacto ul .list-group {
        background-color: none !important; }
  .contacto .footer {
    grid-area: footer;
    margin: 0 auto;
    width: 100%;
    background-color: #fc97925f;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; }
    .contacto .footer .textofooter {
      color: #0b0a0ad8;
      font-weight: bold;
      justify-items: start;
      margin-top: 20px; }
    .contacto .footer .redessociales .icon {
      width: 50px;
      padding: 10px; }

@media (min-width: 320px) and (max-width: 1023px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas: "portada" "menu" "carrusel" "main" "aside" "footer"; }
    .container .portada {
      grid-area: portada;
      margin: 0; }
    .container nav {
      grid-area: menu;
      padding: 0;
      margin: 0; }
    .container .carrusel {
      grid-area: carrusel;
      width: 300px;
      padding-top: 15px;
      justify-content: center; }
    .container .main {
      grid-area: main;
      line-height: 2; }
    .container .aside {
      grid-area: aside;
      width: 200px; }
    .container .footer {
      grid-area: footer; } }

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas: "portada" "menu" "main"  "aside" "footer"; } }
