.contacto{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: .4fr .1fr 2fr .2fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "portada portada"
      "menu menu"
      "main aside"
      "footer footer";
    margin: 30px;
    .portada{ 
        grid-area: portada; 
        background-color:#fc97925f;
        margin: 0 auto;
        width: 100%;
        border-radius: 20px;
        font-family: 'Fjalla One', sans-serif;
        .logonombre{
            display: flex;
            .sticker{
                margin: 10px;
                float: left;
                border-radius: 10px;
                width: 120px;
                height: 120px;
            }
            h1{
                margin-left: 50px;
                margin-top: 50px;
                padding-top: 20px;
                text-align: left;
            }
        }
        .subtitulo{
            h4{
                text-align: right;
                margin: 30px;
            }  
        }   
    }
    nav{ 
        grid-area: menu; 
        background-color:$colorpartes;
        text-decoration: none;
        width: 100%;
        padding: 0.1rem ;
        margin: 0 auto;
        display: flex;
        justify-content: right;
        border-radius:20px;
        font-weight: 600;
        .menu{
            .ulmenu{
                font-weight: 600;
                .limenu{
                    .linkmenu{
                        color: $colortexto;
                        font-weight: 600;
                        &:hover{
                            transform: scale(1.1);
                            background-color: $colorhover;
                            border-radius: 10px;
                        }
                        &:active{
                            background-color: $coloractive;
                        }
                    }
                }
                .limenudrop{
                    .linkmenu{
                        font-weight: 600;
                        &:hover{
                            transform: scale(1.1);
                            background-color: $colorhover;
                            border-radius: 10px;
                        }
                    }
                    .ulmenudrop{
                        background-color: $colorpartes;
                        .linkmenudrop{
                            color: $colortexto;
                            font-weight: 600;
                        }
                        &:hover{
                            background-color: $colorhover;
                        }
                        &:active{
                            background-color: $coloractive;
                        }
                    }
                }
            }
        }
    }
    .main-contacto{
        grid-area: main;
        margin-left: 20px;
        margin-top: 40px;
        font-weight: 600;
        .contacto-title{
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 10px;
        }
        .formulario{
            line-height: 2;
            .formulario-title{
                margin: 20px; 
            }
            .formulario-contenido{
                margin: 20px; 
                input{
                    margin: 5px;
                }                
            }
        }
    }
    .aside-contacto{
        grid-area: aside;
        background-color: none;
        justify-content: center;
        width: auto;
        font-weight: 600;
        .card-contacto{
            background-color: none;
            border-style: inset;
            border-color: #fc97925f;
            border-radius: 10px;
            margin-top: 7rem;
            justify-content: center;
            .card-title{
                margin: 20px;
            }
            .mapa{
                border-radius: 20px;
                margin: 20px;
            }
            .card-body{
                margin: 20px;
            }
            ul .list-group{
                background-color: none !important;
            }
        }
    }
    .footer{ 
        grid-area: footer; 
        margin: 0 auto;
        width: 100%;
        background-color: $colorpartes;
        border-radius: 20px;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        .textofooter{
            color: #0b0a0ad8;
            font-weight: bold;
            justify-items: start;
            margin-top: 20px;
        }
        .redessociales{
            padding: 20px; 
        }
    }
}